link(rel='stylesheet', href='assets/css/header.css')

script.
	function setLanguage(lang){
		Cookies.set('preferedLanguage', lang);
		location.reload();
	}

div.container.brand.hidden-xs
	div.col-sm-6.col-xs-12
		div.navbar-header.brand-header
			table
				tr
					td
						img.logo(src='assets/images/brand_logo.png')
					td
						div.brand-header-name Passion bakery
						div.brand-header-slogan Fresh for life
	div.col-sm-6.col-xs-12
		div.brand-info
			table
				tr
					td
						span.fa.fa-phone
					td
						div #{t['phone'] + ':'}
						div Mrs. Hieu Ngo
						div 0914 005 977
					td
						span.fa.fa-map-marker
					td
						div #{t['address'] + ':'}
						div 51/9 Trương Chí Cương
						div Đà Nẵng

div#stuck_container.stuck-container
	div.container
		nav.navbar.navbar-default(role='navigation')
			div.navbar-brand.visible-xs #{t['brand']}
			div.navbar-header
				button.navbar-toggle(data-target='#navbar', data-toggle='collapse')
					span.icon-bar
					span.icon-bar
					span.icon-bar
			div#navbar.navbar-collapse.collapse
				ul.nav.navbar-nav.navbar-left
					li.active
						a(href='./') #{t['home']}
					li
						a(href='index-1.html') #{t['our_passion']}
					li
						a(href='index-4.html') #{t['classes']}
					li
						a(href='index-5.html') #{t['contact_us']}

				ul.nav.navbar-nav.navbar-right
					li.dropdown.dropdown-language
						a.dropdown-toggle(data-toggle='dropdown')
							img(src=languages[preferedLanguage].icon)
						ul.dropdown-menu.dropdown-language
							each lang in languages
								li(onClick='setLanguage("'+lang.name+'")')
									a.select
										img(src=lang.icon)
										span #{lang.desc}